///////////////////////////////////////
// IMPORTS ////////////////////////////

@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&family=Ubuntu:wght@400;500;700&display=swap");

///////////////////////////////////////
// VARIABLES //////////////////////////

$colors: (
  Light-red-cta-text: hsl(356, 100%, 66%),
  Very-light-red-cta-hover: hsl(355, 100%, 74%),
  Very-dark-blue: hsl(208, 49%, 24%),
  White: hsl(0, 0%, 100%),
  Grayish-blue: hsl(240, 2%, 79%),
  Very-dark-grayish-blue: hsl(207, 13%, 34%),
  Very-dark-black-blue: hsl(240, 10%, 16%),
  Very-light-red: hsl(13, 100%, 72%),
  Light-red: hsl(353, 100%, 62%),
  Very-dark-gray-blue: hsl(237, 17%, 21%),
  Very-dark-desaturated-blue: hsl(237, 23%, 32%),
  Light-grayish-blue: hsl(0, 0%, 88%),
);

$heading-font: "Overpass", sans-serif;
$body-font: "Ubuntu", sans-serif;

$block-border-radius: 90px;

$mobile-width: 1150px;

///////////////////////////////////////
// MIXINS /////////////////////////////

@mixin flex($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin section() {
  box-sizing: border-box;
  width: 100%;
}

@mixin heading() {
  font-family: $heading-font;
  font-weight: 600;
  margin: 0;

  @include mobile() {
    width: 80%;
  }
}

@mixin paragraph() {
  font-family: $body-font;
  font-weight: 400;
  max-width: 480px;

  @include mobile() {
    width: 80%;
    line-height: 25px;
  }
}

@mixin link() {
  user-select: none;
  font-family: $body-font;
  letter-spacing: 0.2px;
  margin: 0;
  transition: 0.2s;

  &:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}

@mixin link--header() {
  color: color(White);
  opacity: 0.7;
  font-size: 16px;
  font-weight: 500;

  &:hover {
    opacity: 1;
  }

  @include mobile() {
    color: color(Very-dark-grayish-blue);
    font-size: 17px;
  }
}

@mixin btn() {
  all: unset;
  user-select: none;
  text-align: center;
  font-family: $heading-font;
  font-size: 16px;
  font-weight: 600;
  border: 2px solid color(White);
  border-radius: 30px;
  width: 125px;
  padding: 8px 0;
  transition: 0.25s;

  &:hover {
    cursor: pointer;
  }

  &--solid {
    @include btn--solid();

    &:hover {
      @include btn--light();
    }
  }

  &--light {
    @include btn--light();

    &:hover {
      @include btn--solid();
    }
  }

  &--gradient {
    @include btn--gradient();
  }
}

@mixin btn--solid() {
  background-color: color(White);
  color: color(Light-red);
}

@mixin btn--light() {
  background: none;
  color: color(White);
}

@mixin btn--gradient() {
  background: linear-gradient(90deg, color(Very-light-red), color(Light-red));
  color: color(White);
  padding: 12px 10px;

  &:hover {
    opacity: 0.7;
  }
}

@mixin feature() {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 40px 0;

  &--normal-dir {
    flex-direction: row;
  }

  &--reverse-dir {
    flex-direction: row-reverse;
  }
}

@mixin feature--double() {
  justify-content: flex-end;
  width: 155%;

  h3 {
    color: color(Very-dark-blue);
    font-size: 23px;
  }

  p {
    color: color(Very-dark-grayish-blue);
    margin: 13px 5px 52px;
  }

  img {
    width: 750px;
    margin: 0 9vw;
  }

  @include mobile() {
    img {
      width: 360px;
      margin: 0 0 50px 0;
    }
  }
}

@mixin text-block() {
  @include flex(column, flex-start, flex-start);

  h3 {
    @include heading();
  }

  p {
    @include paragraph();
    font-size: 15px;
    opacity: 0.8;
    letter-spacing: 0.5px;
    line-height: 25px;
  }

  @include mobile() {
    align-items: center;
    text-align: center;
  }
}

@mixin feature--single() {
  justify-content: center;
  background: linear-gradient(
    90deg,
    color(Very-dark-blue),
    color(Very-dark-desaturated-blue)
  );
  max-height: 315px;
  border-radius: 0 $block-border-radius 0 $block-border-radius;

  h3 {
    color: color(White);
    font-size: 30px;
  }

  p {
    color: color(Grayish-blue);
  }
}

@mixin mobile() {
  @media (max-width: $mobile-width) {
    @content;
  }
}

@mixin menu-icon() {
  &:hover {
    cursor: pointer;
  }
}

///////////////////////////////////////
// FUNCTIONS //////////////////////////

@function color($color-name) {
  @return map-get($colors, $color-name);
}

///////////////////////////////////////
// STYLES /////////////////////////////

body {
  margin: 0;
}

.page-container {
  @include flex(row, center, flex-start);
}

.page {
  @include flex(column, flex-start, center);
  width: 100%;
  background-color: color(White);
  overflow: hidden;
}

.intro {
  @include flex(column, flex-start, center);
  @include section();
  background: linear-gradient(90deg, color(Very-light-red), color(Light-red));
  border-radius: 0 0 0 $block-border-radius;
  text-align: center;
  padding: 0 0 120px 0;

  &__heading {
    @include heading();
    color: color(White);
    font-size: 47px;
    margin: 40px 0 5px 0;
    z-index: 1;
  }

  &__paragraph {
    @include paragraph();
    color: color(White);
    opacity: 0.7;
    font-size: 18px;
    margin: 0 0 40px 0;
    z-index: 1;
  }

  &__btn-container {
    @include flex(row, space-between, center);
    width: 280px;
  }

  &__btn {
    @include btn();
    z-index: 1;
  }

  &__bg-img {
    position: absolute;
    top: -85vh;
    right: 0;
    width: 110vw;
    opacity: 0.5;
  }
}

.header {
  @include flex(row, flex-start, center);
  @include section();
  padding: 50px 110px;
  z-index: 2;

  &__logo {
    width: 90px;
    margin: 0 70px 0 0;
  }

  &__nav-menu {
    @include flex(row, flex-start, center);
    width: 100%;
  }

  &__dropdowns {
    @include flex(row, space-between, center);
    width: 300px;
  }

  &__dropdown {
    @include flex(column, flex-start, flex-start);
  }

  &__dropdown-container {
    @include flex(row, flex-start, center);
    position: relative;
  }

  &__dropdown-title {
    @include link();
    @include link--header();
    padding: 0 0 10px 0;
    margin: 0 6px -10px 0;
  }

  &__dropdown-menu {
    background-color: color(White);
    position: absolute;
    transform: translate(-28px, 28px);
    min-width: 90px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
      rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    padding: 30px 30px 20px;
  }

  &__dropdown-link {
    @include link();
    font-size: 15px;
    width: fit-content;
    margin: 0 0 10px 0;

    &:hover {
      text-decoration: none;
      font-weight: 500;
    }
  }

  &__up-arrow {
    transform: rotate(180deg);
  }

  &__divider {
    display: none;
  }

  &__links {
    @include flex(row, space-between, center);
    width: 190px;
    margin: 0 0 0 auto;
  }

  &__link {
    @include link();
    @include link--header();
  }

  &__btn {
    @include btn();
  }
}

.features {
  @include flex(column, flex-start, center);
  @include section();
  background-color: color(White);
  padding: 0 0 40px 0;
  z-index: 1;

  &__section-heading {
    @include heading();
    color: color(Very-dark-blue);
    font-size: 35px;
    transform: translate(0, 92px);
  }

  &__double-feature {
    @include feature();
    @include feature--double();
  }

  &__text-container {
    @include flex(column, space-around, flex-start);
  }

  &__text-block {
    @include text-block();
  }

  &__heading {
    z-index: 2;
  }

  &__paragraph {
    z-index: 2;
  }

  &__img {
    z-index: 2;
  }

  &__single-feature {
    @include feature();
    @include feature--single();
    position: relative;
  }

  &__single-img {
    width: 450px;
    margin: 0 50px;
    z-index: 2;
  }

  &__bg-container {
    @include flex(row, center, flex-start);
    position: absolute;
    overflow: hidden;
    height: 315px;
    width: 100%;
  }

  &__bg-img {
    width: 650px;
    transform: translate(-270px, -300px);
  }
}

.footer {
  @include flex(row, space-between, flex-start);
  @include section();
  background-color: color(Very-dark-black-blue);
  border-radius: 0 $block-border-radius 0 0;
  padding: 70px 12vw 45px;

  &__column {
    @include flex(column, flex-start, flex-start);
  }

  &__logo {
    width: 92px;
  }

  &__column-title {
    @include paragraph();
    color: color(White);
    font-size: 17px;
  }

  &__link {
    @include link();
    color: color(Grayish-blue);
    opacity: 0.8;
    font-size: 15px;
    margin: 0 0 15px 0;
  }
}

@include mobile() {
  .intro {
    &__heading {
      font-size: 42px;
      margin: 40px 0 30px 0;
    }

    &__paragraph {
      line-height: 28px;
    }
  }

  .header {
    justify-content: space-between;
    padding: 70px 10vw 40px;

    &__menu-open {
      @include menu-icon();
    }

    &__menu-close {
      @include menu-icon();
    }

    &__nav-menu {
      @include flex(column, flex-start, center);
      position: absolute;
      top: 130px;
      left: 0;
      right: 0;
      text-align: center;
      background-color: color(White);
      width: 80%;
      border-radius: 7px;
      box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px,
        rgba(0, 0, 0, 0.23) 0px 3px 6px;
      padding: 30px 20px 38px;
      margin: 0 auto 0;
    }

    &__dropdowns {
      @include flex(column, flex-start, center);
      width: 100%;
    }

    &__dropdown {
      align-items: center;
      width: 100%;
    }

    &__dropdown-container {
      justify-content: center;
      margin: 10px 0;
    }

    &__dropdown-title {
      padding: 0;
      margin: 0 6px 0 0;
    }

    &__dropdown-menu {
      align-items: center;
      position: static;
      text-align: center;
      transform: none;
      background-color: color(Light-grayish-blue);
      width: 80%;
      box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
        rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
      padding: 30px 0 15px;
      margin: 25px 0 23px;
    }

    &__dropdown-link {
      color: color(Very-dark-grayish-blue);
      width: 100%;
      font-size: 16px;
      margin: 0 0 15px 0;
    }

    &__divider {
      display: block;
      width: 100%;
      opacity: 0.5;
      margin: 18px 0 0 0;
    }

    &__links {
      @include flex(column, flex-start, center);
      width: auto;
      margin: 0;
    }

    &__link {
      color: color(Very-dark-grayish-blue);
      font-size: 18px;
      margin: 22px 0 0 0;
    }

    &__btn {
      margin: 15px 0 0 0;
    }
  }

  .features {
    &__section-heading {
      text-align: center;
      margin: 0 0 100px 0;
    }

    &__double-feature {
      @include flex(column-reverse, flex-start, center);
    }

    &__single-feature {
      @include flex(column-reverse, flex-start, center);
      padding: 150px 0 50px 0;
      margin: 160px 0 20px 0;
    }

    &__single-img {
      width: 390px;
    }

    &__bg-container {
      height: 462px;
      transform: rotate(180deg);
    }

    &__bg-img {
      width: 500px;
      transform: translate(100px, 100px);
    }
  }

  .footer {
    @include flex(column, flex-start, center);
    padding: 75px 0 30px;

    &__logo {
      margin: 0 0 35px 0;
    }

    &__column {
      align-items: center;
      margin: 0 0 10px 0;
    }
  }
}
