///////////////////////////////////////
// IMPORTS ////////////////////////////

@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&family=Ubuntu:wght@400;500;700&display=swap");

///////////////////////////////////////
// VARIABLES //////////////////////////

$colors: (
  Light-red-cta-text: hsl(356, 100%, 66%),
  Very-light-red-cta-hover: hsl(355, 100%, 74%),
  Very-dark-blue: hsl(208, 49%, 24%),
  White: hsl(0, 0%, 100%),
  Grayish-blue: hsl(240, 2%, 79%),
  Very-dark-grayish-blue: hsl(207, 13%, 34%),
  Very-dark-black-blue: hsl(240, 10%, 16%),
  Very-light-red: hsl(13, 100%, 72%),
  Light-red: hsl(353, 100%, 62%),
  Very-dark-gray-blue: hsl(237, 17%, 21%),
  Very-dark-desaturated-blue: hsl(237, 23%, 32%),
);

$heading-font: "Overpass", sans-serif;
$body-font: "Ubuntu", sans-serif;

$block-border-radius: 90px;

///////////////////////////////////////
// MIXINS /////////////////////////////

@mixin flex($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin section() {
  box-sizing: border-box;
  width: 100%;
}

@mixin heading() {
  font-family: $heading-font;
  font-weight: 600;
  margin: 0;
}

@mixin paragraph() {
  font-family: $body-font;
  font-weight: 400;
  max-width: 480px;
}

@mixin link() {
  font-family: $body-font;
  letter-spacing: 0.2px;
  margin: 0;
  transition: 0.2s;

  &:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}

@mixin link--header() {
  color: color(White);
  opacity: 0.7;
  font-size: 16px;
  font-weight: 500;

  &:hover {
    opacity: 1;
  }
}

@mixin btn() {
  all: unset;
  text-align: center;
  font-family: $heading-font;
  font-size: 16px;
  font-weight: 600;
  border: 2px solid color(White);
  border-radius: 30px;
  width: 125px;
  padding: 8px 0;
  transition: 0.25s;

  &:hover {
    cursor: pointer;
  }

  &--solid {
    @include btn--solid();

    &:hover {
      @include btn--light();
    }
  }

  &--light {
    @include btn--light();

    &:hover {
      @include btn--solid();
    }
  }
}

@mixin btn--solid() {
  background-color: color(White);
  color: color(Light-red);
}

@mixin btn--light() {
  background: none;
  color: color(White);
}

@mixin feature() {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 40px 0;

  &--normal-dir {
    flex-direction: row;
  }

  &--reverse-dir {
    flex-direction: row-reverse;
  }
}

@mixin feature--double() {
  justify-content: flex-end;
  width: 155%;

  h3 {
    color: color(Very-dark-blue);
    font-size: 23px;
  }

  p {
    color: color(Very-dark-grayish-blue);
    margin: 13px 5px 52px;
  }

  img {
    width: 750px;
    margin: 0 9vw;
  }
}

@mixin text-block() {
  @include flex(column, flex-start, flex-start);

  h3 {
    @include heading();
  }

  p {
    @include paragraph();
    font-size: 15px;
    opacity: 0.8;
    letter-spacing: 0.5px;
    line-height: 25px;
  }
}

@mixin feature--single() {
  justify-content: center;
  background: linear-gradient(
    90deg,
    color(Very-dark-blue),
    color(Very-dark-desaturated-blue)
  );
  max-height: 315px;
  border-radius: 0 $block-border-radius 0 $block-border-radius;

  h3 {
    color: color(White);
    font-size: 30px;
  }

  p {
    color: color(Grayish-blue);
  }

  img {
    width: 450px;
    margin: 0 50px;
  }
}

///////////////////////////////////////
// FUNCTIONS //////////////////////////

@function color($color-name) {
  @return map-get($colors, $color-name);
}

///////////////////////////////////////
// STYLES /////////////////////////////

body {
  margin: 0;
}

.page-container {
  @include flex(row, center, flex-start);
}

.page {
  @include flex(column, flex-start, center);
  width: 100%;
  background-color: color(White);
  overflow: hidden;
}

.intro {
  @include flex(column, flex-start, center);
  @include section();
  background: linear-gradient(90deg, color(Very-light-red), color(Light-red));
  border-radius: 0 0 0 $block-border-radius;
  padding: 0 0 120px 0;

  &__heading {
    @include heading();
    color: color(White);
    font-size: 47px;
    margin: 40px 0 5px 0;
  }

  &__paragraph {
    @include paragraph();
    color: color(White);
    opacity: 0.7;
    font-size: 18px;
    margin: 0 0 40px 0;
  }

  &__btn-container {
    @include flex(row, space-between, center);
    width: 280px;
  }

  &__btn {
    @include btn();
  }
}

.header {
  @include flex(row, flex-start, center);
  @include section();
  padding: 50px 110px;

  &__logo {
    width: 90px;
    margin: 0 70px 0 0;
  }

  &__dropdowns {
    @include flex(row, space-between, center);
    width: 290px;
  }

  &__dropdown-container {
    @include flex(row, flex-start, center);
  }

  &__dropdown-title {
    @include link();
    @include link--header();
    margin: 0 6px 0 0;
  }

  &__links {
    @include flex(row, space-between, center);
    width: 190px;
    margin: 0 0 0 auto;
  }

  &__link {
    @include link();
    @include link--header();
  }

  &__btn {
    @include btn();
  }
}

.features {
  @include flex(column, flex-start, center);
  @include section();
  padding: 0 0 40px 0;

  &__section-heading {
    @include heading();
    color: color(Very-dark-blue);
    font-size: 35px;
    transform: translate(0, 92px);
  }

  &__double-feature {
    @include feature();
    @include feature--double();
  }

  &__text-container {
    @include flex(column, space-around, flex-start);
  }

  &__text-block {
    @include text-block();
  }

  &__single-feature {
    @include feature();
    @include feature--single();
  }
}

.footer {
  @include flex(row, space-between, flex-start);
  @include section();
  background-color: color(Very-dark-black-blue);
  border-radius: 0 $block-border-radius 0 0;
  padding: 70px 12vw 45px;

  &__column {
    @include flex(column, flex-start, flex-start);
  }

  &__logo {
    width: 92px;
  }

  &__column-title {
    @include paragraph();
    color: color(White);
    font-size: 17px;
  }

  &__link {
    @include link();
    color: color(Grayish-blue);
    opacity: 0.8;
    font-size: 15px;
    margin: 0 0 15px 0;
  }
}
